# Valores específicos são coletados durante a instalação; nenhuma empresa fixa.
RANCHER_FQDN=""
SERVER_IP=""
RANCHER_VERSION="v2.15.2"
RANCHER_DATA_DIR="/opt/rancher"
RANCHER_CONTAINER_NAME="rancher-server"
RANCHER_BACKEND_PORT="8080"
TLS_MODE="private-ca"
# TLS_MODE=provided: certificado/chain e chave PEM obrigatórios; CA privada opcional.
TLS_CERT_FILE=""
TLS_KEY_FILE=""
TLS_CA_FILE=""
TLS_CERT_DAYS="397"
ENABLE_UFW="false"
SSH_PORT="22"
RANCHER_START_TIMEOUT_SECONDS="600"
SYSTEM_TIMEZONE="America/Sao_Paulo"
SYSTEM_NTP_SERVERS="0.br.pool.ntp.org 1.br.pool.ntp.org 2.br.pool.ntp.org 3.br.pool.ntp.org"
NTP_SYNC_TIMEOUT_SECONDS="120"
HOST_DISK_AUTO_EXPAND="true"
